version: '3.8'

services:
  ignited-api:
    build:
      context: .
      args:
        CMD: '["npm", "start"]'
    image: ignited-api:local
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
    command: ["npm", "start"]

  ignited-workers:
    build:
      context: .
      args:
        CMD: '["node", "all-workers.js"]'
    image: ignited-workers:local
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
    command: ["node", "all-workers.js"]

  ignited-scheduler:
    build:
      context: .
      args:
        CMD: '["npm", "workers/scheduled/poc-warning.js"]'
    image: ignited-scheduler:local
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
    command: ["npm", "workers/scheduled/poc-warning.js"]

  ignited-chat:
    build:
      context: .
      args:
        CMD: '["npm", "start"]'
    image: ignited-chat:local
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
    command: ["npm", "start"]
